.td {
    &__btn {
        padding: 5px 20px;
        border-radius: 5px;

        &--add {
            background: $blue;
            color: $white;
        }
        &--cancel {
            background: $yellow;
            color: $black;
        }
        &--done {
            background: $green;
            color: $white;
        }
        &--delete {
            background: $red;
            color: $white;
        }
        &--edit {
            background: $blue;
            color: $black;
        }
    }
}

.heading {
    width: 100%;
    margin: 0;
    padding: 15px 30px;
    border: 1px solid $teal;
    border-radius: 5px 5px 0 0;
    background: lightgray;

    &__paragraph {
        margin: 0;
        font-size: 18px;
    }
}

.form__input {
    width: 250px;
    padding: 5px 10px;
}

.confirmations {
    position: fixed;
    right: 50px;
    top: 10px;

    &__item {
        padding: 5px 15px;
        border-radius: 5px;
        min-width: 200px;
        text-align: left;
        animation: showMessage 1.5s ease;
    }
}

.list__type {
    list-style: none;
    width: 100%;

    &--item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
}

.marked__done {
    text-decoration: line-through;
    opacity: 0.5;
}
.full__width {
    width: 100%;
}
