.wrapper {
    max-width: 900px;
    margin: auto;
    height: 100vh;
    padding: 20px;

    &__add--new {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__main--page {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 15px 30px;
        border: 1px solid;
        border-top: 0;
        border: 1px solid $teal;
        border-top: 0;
        border-radius: 0px 0px 5px 5px;
    }
    &__section {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .margin__xr--20 {
        margin-right: 20px;
    }
    .margin__yb--20 {
        margin-bottom: 20px;
    }
}

.bg__add--new {
    background: $blue;
    color: $white;
}
.bg__updated {
    background: $blue;
    color: $black;
}

.bg__marked--done {
    background: $green;
    color: $white;
}
.bg__deleted {
    background: $red;
    color: $white;
}
.align__right {
    text-align: right;
}
.home__main--title {
    font-size: 3rem;
    text-align: center;
}
