<template>
  <div class="wrapper wrapper__add--new">
    <p class="heading">New ToDo</p>
    <div class="wrapper__body">
      <div class="wrapper__section margin__yb--20">
        <span class="margin__xr--20">ToDo:</span>
        <input type="text" name="task" class="form__input" v-model="task">
      </div>
      <div class="wrapper__section">
        <button class="td__btn td__btn--add margin__xr--20" @click="addNew()">Add</button>
        <router-link to="/todo" tag="button" class="btn bg-warning">Cancel</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      task: ""
    };
  },
  methods: {
    ...mapActions(["addNewTask"]),
    addNew() {
      if (this.task.length > 0) {
        this.addNewTask({ task: this.task });
        this.task = "";
        this.$router.push("/todo");
      } else {
        alert("Task field cannot be empty");
      }
    },
    cancelAddNew() {
      console.log("cancel event");
    }
  }
};
</script>

