<template>
  <div class="confirmations">
    <ul class="list__type">
      <li
        v-for="msg in getMessages"
        class="confirmations__item"
        :class="msg.class"
        :key="msg.id"
      >{{msg.message}}</li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["getMessages"])
  }
};
</script>

