<template>
  <div class="wrapper wrapper__add--new">
    <p class="heading">Edit ToDo</p>
    <div class="wrapper__body">
      <div class="wrapper__section margin__yb--20">
        <span class="margin__xr--20">ToDo:</span>
        <input type="text" name="task" class="form__input" v-model="task.name">
      </div>
      <div class="wrapper__section">
        <button class="td__btn td__btn--add margin__xr--20" @click="update()">Update</button>
        <router-link to="/" tag="button" class="btn bg-warning">Cancel</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      task: {}
    };
  },
  mounted() {
    let id = Number(this.$route.params.id);
    console.log(id);
    let [task] = this.$store.state.taskList.filter(item => item.id === id);
    this.task = task;
  },
  methods: {
    ...mapActions(["updateTask"]),
    update() {
      let upddateStatus = this.updateTask(this.task);
      upddateStatus
        .then(response => {
          this.$router.push("/todo");
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
