<template>
  <div class="wrapper">
    <div class="align__right">
      <router-link to="/login">Login</router-link>
      <router-link to="/register">Register</router-link>
    </div>
    <p class="home__main--title">Home page ToDo</p>
  </div>
</template>

<script>
export default {};
</script>