 <template>
  <div class="container">
    <conf-messages></conf-messages>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card card-default">
          <div class="card-header">Login</div>

          <div class="card-body">
            <form method="POST" action="/login">
              <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail Address</label>

                <div class="col-md-6">
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    v-model="email"
                    required
                    autofocus
                  >
                </div>
              </div>

              <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                <div class="col-md-6">
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    v-model="password"
                    required
                  >
                </div>
              </div>

              <div class="form-group row mb-0">
                <div class="col-md-8 offset-md-4">
                  <button type="submit" class="btn btn-primary" @click="handleSubmit">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Confirmations from "./Confirmations";

export default {
  components: {
    "conf-messages": Confirmations
  },
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    ...mapActions(["loggIn"]),
    handleSubmit(e) {
      e.preventDefault();
      if (this.password.length > 0) {
        let loggedIn = this.loggIn({
          email: this.email,
          password: this.password
        });
        loggedIn
          .then(resp => {
            if (resp) {
              this.$router.push({ path: "todo" });
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        alert("Fields cannot be empty");
      }
    }
  }
};
</script>