<template>
  <div class="wrapper">
    <conf-messages></conf-messages>
    <div class="heading wrapper__main--page">
      <p class="heading__paragraph">ToDo's</p>
      <a href="#" @click.prevent="logOut">Logout</a>
      <router-link to="/add-new" class="btn btn-primary">Add New ToDo</router-link>
    </div>
    <div class="wrapper__body">
      <todo-list></todo-list>
    </div>
  </div>
</template>

<script>
import AddNew from "./AddNew";
import Confirmations from "./Confirmations";
import ToDoList from "./ToDoList";
import { mapActions } from "vuex";

export default {
  name: "todo",
  components: {
    "add-new": AddNew,
    "conf-messages": Confirmations,
    "todo-list": ToDoList
  },
  methods: {
    ...mapActions(["getAllTasks", "logout"]),
    logOut() {
      let logOutResp = this.logout();
      logOutResp.then(() => {
        this.$router.push("/");
      });
    }
  },
  created() {
    this.getAllTasks();
  }
};
</script>
