<template>
  <div class="full__width">
    <ul class="list__type" v-if="getTaskList.length > 0">
      <li class="list__type--item" v-for="tsk in getTaskList" :key="tsk.id">
        <div class="list__type--title" :class="{marked__done:!tsk.status}">
          <p class="heading__paragraph">{{tsk.name}}</p>
        </div>
        <div class="list__type--actions" v-if="tsk.status">
          <button class="td__btn td__btn--done" @click="toggleStatus({id:tsk.id})">Done</button>
          <router-link :to="`/edit/${tsk.id}`" tag="button" class="td__btn td__btn--edit">Edit</router-link>
          <button class="td__btn td__btn--delete" @click="deleteTask(tsk)">Delete</button>
        </div>
        <div class="list__type--actions" v-else>
          <button class="td__btn td__btn--done" @click="toggleStatus(tsk)">Undone</button>
        </div>
      </li>
    </ul>
    <div v-else>
      <p>No tasks created</p>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  methods: {
    ...mapActions(["toggleStatus", "deleteTask"])
  },
  computed: {
    ...mapGetters(["getTaskList"])
  }
};
</script>

